Repository hryhhh/Forge-Design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

refactor(storybook): 调整 Storybook 配置和组件结构
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  src/components/Button/button.stories.tsx
  src/components/Menu/menu.stories.tsx
  src/stories/Configure.mdx
  src/welcome.stories.tsx
  src/welcome.styles.scss
Due: eslint --cache --fix, prettier --write

refactor: 优化项目配置和依赖项
  .lintstagedrc
  .npmignore
  README.md
  eslint.config.js
  index.html
  package-lock.json
  package.json
  src/App.tsx
  tsconfig.node.json
  vite.config.ts
Due: eslint --cache --fix, prettier --write

feat: 添加TypeScript声明文件和Rollup构建配置
  .gitignore
  .husky/pre-commit
  build/App.d.ts
  build/components/Button/Button.d.ts
  build/components/Button/index.d.ts
  build/components/Menu/Menu.d.ts
  build/components/Menu/index.d.ts
  build/components/Menu/menuItem.d.ts
  build/components/Menu/subMenu.d.ts
  build/index.css
  build/index.css.map
  build/index.d.ts
  build/index.js
  build/index.js.map
  build/main.d.ts
  build/setupTests.d.ts
  package-lock.json
  package.json
  rollup.config.js
  src/components/Button/Button.tsx
  src/components/Button/index.tsx
  src/components/Menu/index.tsx
  src/components/Menu/menu.tsx
  src/index.tsx
  tsconfig.build.json
  typedoc.json
Due: eslint --cache --fix, prettier --write

1.0.1
  package-lock.json
  package.json
Due: prettier --write

chore: prepare for release v1.0.1
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  build/index.js
  build/index.js.map
Due: eslint --cache --fix, prettier --write

配置GitHub Pages部署
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: prettier --write

refactor(Menu): 重构菜单组件代码结构并更新测试
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/Button/button.tsx.html
  coverage/lcov-report/Button/index.html
  coverage/lcov-report/Menu/index.html
  coverage/lcov-report/Menu/menu.tsx.html
  coverage/lcov-report/Menu/menuItem.tsx.html
  coverage/lcov-report/Menu/subMenu.tsx.html
  coverage/lcov-report/index.html
  coverage/lcov.info
  src/components/Menu/menu.test.tsx
Due: eslint --cache --fix, prettier --write

refactor(Menu): 将 MenuProps 从接口改为类型导出
  build/components/Menu/Menu.d.ts
  build/index.js
  build/index.js.map
  coverage/clover.xml
  coverage/lcov-report/Button/button.tsx.html
  coverage/lcov-report/Button/index.html
  coverage/lcov-report/Menu/index.html
  coverage/lcov-report/Menu/menu.tsx.html
  coverage/lcov-report/Menu/menuItem.tsx.html
  coverage/lcov-report/Menu/subMenu.tsx.html
  coverage/lcov-report/index.html
  src/components/Menu/menu.tsx
Due: eslint --cache --fix, prettier --write

refactor(Menu): 重构菜单组件导出方式和类型定义
  build/components/Menu/Menu.d.ts
  build/components/Menu/index.d.ts
  build/index.d.ts
  build/index.js
  build/index.js.map
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/Button/button.tsx.html
  coverage/lcov-report/Button/index.html
  coverage/lcov-report/Menu/index.html
  coverage/lcov-report/Menu/menu.tsx.html
  coverage/lcov-report/Menu/menuItem.tsx.html
  coverage/lcov-report/Menu/subMenu.tsx.html
  coverage/lcov-report/index.html
  coverage/lcov.info
  src/components/Menu/index.tsx
  src/components/Menu/menu.tsx
  src/index.tsx
Due: eslint --cache --fix, prettier --write

refactor(Menu): 重构菜单组件结构，将Menu组件移至index.tsx
  build/index.js
  build/index.js.map
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/Button/button.tsx.html
  coverage/lcov-report/Button/index.html
  coverage/lcov-report/Menu/index.html
  coverage/lcov-report/Menu/index.tsx.html
  coverage/lcov-report/Menu/menu.tsx.html
  coverage/lcov-report/Menu/subMenu.tsx.html
  coverage/lcov-report/index.html
  coverage/lcov.info
  src/components/Menu/menu.test.tsx
Due: eslint --cache --fix, prettier --write

feat(menu): 导出 MenuMode 和 SelectCallback 类型
  .github/workflows/release.yml
  build/components/Menu/index.d.ts
  build/index.d.ts
  build/index.js.map
  coverage/clover.xml
  coverage/lcov-report/Button/button.tsx.html
  coverage/lcov-report/Button/index.html
  coverage/lcov-report/Menu/index.html
  coverage/lcov-report/Menu/index.tsx.html
  coverage/lcov-report/Menu/menu.tsx.html
  coverage/lcov-report/Menu/menuItem.tsx.html
  coverage/lcov-report/Menu/subMenu.tsx.html
  coverage/lcov-report/index.html
  eslint.config.js
  jest.config.ts
  package-lock.json
  package.json
  src/components/Menu/index.tsx
  src/components/Menu/menu.test.tsx
  src/index.tsx
  tsconfig.app.json
  tsconfig.node.json
Due: eslint --cache --fix, prettier --write

refactor(menu): 统一菜单组件文件名并更新相关引用
  .gitignore
  build/components/Menu/index.d.ts
  build/index.js
  build/index.js.map
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/Button/button.tsx.html
  coverage/lcov-report/Button/index.html
  coverage/lcov-report/Menu/index.html
  coverage/lcov-report/Menu/index.tsx.html
  coverage/lcov-report/Menu/menu.tsx.html
  coverage/lcov-report/Menu/menuItem.tsx.html
  coverage/lcov-report/Menu/subMenu.tsx.html
  coverage/lcov-report/button.tsx.html
  coverage/lcov-report/index.html
  coverage/lcov-report/menu.tsx.html
  coverage/lcov-report/menuItem.tsx.html
  coverage/lcov-report/subMenu.tsx.html
  coverage/lcov.info
  src/App.tsx
  src/components/Menu/index.tsx
  src/components/Menu/menuItem.tsx
  src/components/Menu/subMenu.tsx
Due: eslint --cache --fix, prettier --write

refactor(Button): 分离类型定义到独立文件并更新构建配置
  .github/workflows/cd.yml
  .github/workflows/release.yml
  build/components/Button/Button.d.ts
  build/components/Button/index.d.ts
  build/components/Menu/Menu.d.ts
  build/components/Menu/index.d.ts
  build/index.js.map
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/Button/button.tsx.html
  coverage/lcov-report/Button/index.html
  coverage/lcov-report/Menu/index.html
  coverage/lcov-report/Menu/index.tsx.html
  coverage/lcov-report/Menu/menu.tsx.html
  coverage/lcov-report/Menu/menuItem.tsx.html
  coverage/lcov-report/Menu/subMenu.tsx.html
  coverage/lcov-report/index.html
  coverage/lcov.info
  eslint.config.js
  global.d.ts
  package-lock.json
  package.json
  src/App.tsx
  src/components/Button/Button.tsx
  src/components/Button/button.stories.tsx
  src/components/Button/button.test.tsx
  src/components/Button/index.tsx
  src/components/Button/types.ts
  src/components/Menu/context.ts
  src/components/Menu/index.tsx
  src/components/Menu/menu.stories.tsx
  src/components/Menu/menu.test.tsx
  src/components/Menu/menu.tsx
  src/components/Menu/menuItem.tsx
  src/components/Menu/subMenu.tsx
  src/main.tsx
Due: eslint --cache --fix, prettier --write

Remove unused type definitions and update coverage reports; refactor Button and Menu components for better modularity and chunking in Vite configuration.
  .storybook/main.ts
  build/App.d.ts
  build/components/Button/Button.d.ts
  build/components/Button/index.d.ts
  build/components/Menu/Menu.d.ts
  build/components/Menu/index.d.ts
  build/components/Menu/menuItem.d.ts
  build/components/Menu/subMenu.d.ts
  build/index.css
  build/index.css.map
  build/index.d.ts
  build/index.js
  build/index.js.map
  build/main.d.ts
  build/setupTests.d.ts
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/Button/button.tsx.html
  coverage/lcov-report/Button/index.html
  coverage/lcov-report/Menu/index.html
  coverage/lcov-report/Menu/index.tsx.html
  coverage/lcov-report/Menu/menu.tsx.html
  coverage/lcov-report/Menu/menuItem.tsx.html
  coverage/lcov-report/Menu/subMenu.tsx.html
  coverage/lcov-report/index.html
  coverage/lcov.info
  src/components/Button/Button.mdx
  src/components/Button/button.stories.tsx
  vite.config.ts
Due: eslint --cache --fix, prettier --write

refactor(Button): 清理Button.mdx文件，移除未使用的导入和空行
  src/components/Button/Button.mdx
Due: none

1.0.2
  package-lock.json
  package.json
Due: prettier --write

deploy: fe10b155ff784401cc36de85c75a2b3ae3983ec8
  project.json
Due: prettier --write

ci(workflow): 在CD流程中添加版本检查和自动升级
  .github/workflows/cd.yml
Due: none

chore: 清理测试覆盖率报告文件并更新工作流配置
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/Button/button.tsx.html
  coverage/lcov-report/Button/index.html
  coverage/lcov-report/Menu/index.html
  coverage/lcov-report/Menu/index.tsx.html
  coverage/lcov-report/Menu/menu.tsx.html
  coverage/lcov-report/Menu/menuItem.tsx.html
  coverage/lcov-report/Menu/subMenu.tsx.html
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

deploy: 8e5f2905362603b496cb23f498bde2ef20faa0bc
  project.json
Due: prettier --write

chore: bump version to 1.0.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

build: 添加 glob 和 lru-cache 依赖
  package-lock.json
  package.json
Due: prettier --write

deploy: 2a50b6a45fa71d41aadee88cee9511796e034331
  project.json
Due: prettier --write

chore: bump version to 1.0.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

- 调整package.json中脚本命令的顺序 - 删除多余的空行和空格 - 修复文件末尾的换行符问题
  package.json
  src/components/Button/_style.scss
  src/components/Menu/_style.scss
  src/styles/_rebot.scss
  src/styles/_variables.scss
  src/welcome.styles.scss
Due: prettier --write

deploy: 2cad19cecc5dfb2aab75966f21caeb9113d3d37d
  project.json
Due: prettier --write

chore: bump version to 1.0.5 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

feat(upload): 实现文件上传功能
  eslint.config.js
  index.html
  package-lock.json
  package.json
  src/App.tsx
  src/components/Button/Button.tsx
  src/components/Button/types.ts
  src/components/Upload/Upload.stories.tsx
  src/components/Upload/Upload.test.tsx
  src/components/Upload/Upload.tsx
  src/components/Upload/index.tsx
  src/components/Upload/type.ts
  src/components/Upload/uploadService.ts
  src/components/Upload/useUpload.ts
  src/components/Upload/utils.ts
  src/welcome.stories.tsx
  tsconfig.app.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --cache --fix, prettier --write

feat(upload): 实现上传组件的核心功能
  .gitignore
  jest.config.ts
  package-lock.json
  package.json
  src/App.tsx
  src/components/Button/Button.tsx
  src/components/Button/_style.scss
  src/components/Button/button.stories.tsx
  src/components/Button/button.test.tsx
  src/components/Button/index.tsx
  src/components/Button/types.ts
  src/components/Upload/Upload.test.tsx
  src/components/Upload/Upload.tsx
  src/components/Upload/_style.scss
  src/components/Upload/index.tsx
  src/components/Upload/type.ts
  src/components/Upload/uploadService.ts
  src/components/Upload/useUpload.ts
  src/components/Upload/utils.ts
  src/index.tsx
  src/styles/_variables.scss
  src/styles/index.scss
  vite.config.ts
Due: eslint --cache --fix, prettier --write

feat(Upload): 增加预览功能并优化上传逻辑
  src/components/Button/_style.scss
  src/components/Button/button.test.tsx
  src/components/Upload/Upload.stories.tsx
  src/components/Upload/Upload.test.tsx
  src/components/Upload/Upload.tsx
  src/components/Upload/_style.scss
  src/components/Upload/index.tsx
  src/components/Upload/type.ts
  src/components/Upload/uploadService.ts
  src/components/Upload/useUpload.ts
  src/styles/_variables.scss
Due: eslint --cache --fix, prettier --write

docs(stories): 丰富组件文档并优化展示效果
  .github/workflows/cd.yml
  .trae/rules/project_rules.md
  src/components/Button/button.stories.tsx
  src/components/Menu/menu.stories.tsx
  src/components/Upload/Upload.stories.tsx
  src/welcome.stories.tsx
  src/welcome.styles.scss
Due: eslint --cache --fix, prettier --write

ci: 更新代码格式化和测试逻辑
  package.json
  src/components/Upload/Upload.test.tsx
  src/welcome.styles.scss
Due: eslint --cache --fix, prettier --write

test(Upload): 优化测试用例并抑制不必要的控制台输出
  src/components/Upload/Upload.test.tsx
  src/components/Upload/useUpload.ts
Due: eslint --cache --fix, prettier --write

test(Upload): 优化上传组件测试用例并添加异步状态处理
  src/components/Upload/Upload.test.tsx
  src/components/Upload/useUpload.ts
Due: eslint --cache --fix, prettier --write

refactor(Upload): 优化取消操作的错误处理
  src/components/Upload/Upload.test.tsx
Due: eslint --cache --fix, prettier --write

test(Upload): 优化组件测试并添加全局错误处理
  src/components/Upload/Upload.test.tsx
Due: eslint --cache --fix, prettier --write

build(storybook): 更新 Storybook 配置和依赖
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  eslint.config.js
  package-lock.json
  package.json
  src/components/Button/Button.mdx
  src/components/Button/button.stories.tsx
  src/components/Menu/menu.stories.tsx
  src/components/Upload/Upload.stories.tsx
  src/components/Upload/Upload.test.tsx
  src/welcome.stories.tsx
  src/welcome.styles.scss
  vite.config.ts
  vitest.workspace.ts
Due: eslint --cache --fix, prettier --write

test(Upload): 更新上传组件测试用例和 DOM 结构
  src/components/Upload/Upload.test.tsx
  src/components/Upload/Upload.tsx
Due: eslint --cache --fix, prettier --write

test(Upload): 重构上传组件测试并添加全局超时设置
  jest.config.ts
  src/components/Upload/Upload.test.tsx
  src/components/Upload/Upload.tsx
  src/components/Upload/useUpload.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,css,md})
